@charset "UTF-8";
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04-Apr-2024, 7:42:25 pm
    Author     : admin
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
    border-radius: 5px;
    padding: 10px 20px;
}
footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
        }
        
button {
    background-color: #f8f9fa;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    max-width: 100%; /* To Ensure the container does not exceed the viewport width */
    max-height: 100%; /* To Ensure the container does not exceed the viewport height */
}

.image-container img {
    width: 100%; /* For Setting the width to 100% of the container */
    height: auto; /* This Auto-adjust the height to maintain aspect ratio */
    max-width: 100%; /* To Ensure the image does not exceed the container width */
    max-height: 100%; /* To Set a maximum height for consistency */
    border-radius: 10px;
}

p {
    font-size: 14px; /* This will adjust the size as needed */
}

.post {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.caption {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust transparency here */
    padding: 10px;
    text-align: left;
}

/* Sticky header styles */
#header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #ff0000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the header stays on top of other content */
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-container button {
    background-color: #f8f9fa;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #e9ecef;
}



